# SecureLink-CLI Configuration
# ============================

# AES-256-CBC encryption key (64 hex chars = 32 bytes)
# Generate one:  node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
SECRET_KEY=b374a26d71590483815c467a99623e1b7db95f269c2889279a32c4530fc4159f

# Broker server URL (where the central broker runs)
BROKER_URL=http://localhost:4000

# Broker server port
BROKER_PORT=4000
